Repository keep-network/tbtc: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

lint-js:
  name: lint js
  entry: /usr/bin/env bash -c "cd solidity && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol:
  name: lint solidity
  entry: /usr/bin/env bash -c "cd solidity && npm run lint:sol"
  language: script
  description: Checks Solidity code according to the package's linter configuration

Change all of the `git+ssh` depencies to `git+https`
  solidity/package-lock.json
Due: none

back out prettier from the solium commands
  solidity/package.json
Due: none

Update the help documentation and logging for multiply-local-eth-btc-price.js
  solidity/scripts/multiply-local-eth-btc-price.js
Due: lint-js

Add string formatting
  solidity/scripts/multiply-local-eth-btc-price.js
Due: lint-js

Use `-pre` version suffix for keep modules
  solidity/package.json
Due: none

Use `v1` version of `notify-workflow-completed` action
  .github/workflows/contracts.yml
Due: none

Use `v1` version of `upstream-builds-query` action
  .github/workflows/contracts.yml
Due: none

Use `-pre` version suffix for keep modules
  solidity/package-lock.json
Due: none

Switch back to using GC Bucket for migrated contracts on Celo
  .github/workflows/contracts.yml
Due: none

Improve comment on TODO tasks for Celo
  .github/workflows/contracts.yml
Due: none

Relay maintainer updated to 1.1.0 version
  infrastructure/kube/keep-prd/relay-deployment.yaml
Due: none

Stop pushing contracts artifacts to GC Bucket
  .github/workflows/contracts.yml
Due: none

Use npm links for inter module dependencies
  scripts/install.sh
  solidity/scripts/lcl-provision-external-contracts.sh
Due: none

Link keep-ecdsa package
  scripts/install.sh
Due: none

Fix typos in the tBTC documentation
  docs/bonding/index.adoc
  docs/deposits/index.adoc
  docs/deposits/mistakes.adoc
  docs/redemption/index.adoc
Due: none

Use the latest eslint-config-keep configuration
  solidity/.eslintrc
  solidity/.prettierrc.yaml
  solidity/package-lock.json
  solidity/package.json
Due: none

Fix newly discovered js linting errors
  solidity/docs/generate-api-docs.js
  solidity/migrations/1_initial_migration.js
  solidity/migrations/2_deploy_contracts.js
  solidity/migrations/3_initialize.js
  solidity/scripts/get-network-id.js
  solidity/scripts/get-prices.js
  solidity/scripts/multiply-local-eth-btc-price.js
  solidity/scripts/unlock-eth-accounts.js
  solidity/test/CloneFactoryTest.js
  solidity/test/DepositFactoryTest.js
  solidity/test/DepositFraudTest.js
  solidity/test/DepositFundingTest.js
  solidity/test/DepositLiquidationTest.js
  solidity/test/DepositRedemptionTest.js
  solidity/test/DepositUtilsTest.js
  solidity/test/GovernanceTest.js
  solidity/test/KeepFactorySelectionTest.js
  solidity/test/SatWeiPriceFeedTest.js
  solidity/test/StateTests.js
  solidity/test/TBTCSystemTest.js
  solidity/test/VendingMachineTest.js
  solidity/test/deposit-redemption-disbursal.js
  solidity/test/helpers/assertBalance.js
  solidity/test/helpers/fullDeployer.js
  solidity/test/helpers/snapshot.js
  solidity/test/helpers/spec-fixtures.js
  solidity/test/helpers/testDeployer.js
  solidity/test/helpers/utils.js
  solidity/test/liquidation-tests/courtesyCallTest.js
  solidity/test/liquidation-tests/fraudProofTest.js
  solidity/test/liquidation-tests/liquidation-test-utils/createInstance.js
  solidity/test/liquidation-tests/liquidation-test-utils/setup.js
  solidity/test/liquidation-tests/multiDepositBlackSwan.js
  solidity/test/liquidation-tests/redemptionProofTimeoutTest.js
  solidity/test/liquidation-tests/signatureTimeoutTest.js
  solidity/test/liquidation-tests/undercollateralizedTest.js
  solidity/test/states/deposit.js
  solidity/test/states/run.js
  solidity/truffle-config.js
Due: lint-js

Tighten up the solidity linting glob
  solidity/package.json
Due: none

npm run lint:fix:sol
  solidity/contracts/deposit/Deposit.sol
  solidity/contracts/deposit/DepositFunding.sol
  solidity/contracts/deposit/DepositLiquidation.sol
  solidity/contracts/deposit/DepositRedemption.sol
  solidity/contracts/deposit/DepositStates.sol
  solidity/contracts/deposit/DepositUtils.sol
  solidity/contracts/deposit/OutsourceDepositLogging.sol
  solidity/contracts/interfaces/ITBTCSystem.sol
  solidity/contracts/price-feed/SatWeiPriceFeed.sol
  solidity/contracts/proxy/CloneFactory.sol
  solidity/contracts/proxy/DepositFactory.sol
  solidity/contracts/scripts/FundingScript.sol
  solidity/contracts/scripts/RedemptionScript.sol
  solidity/contracts/system/DepositFactoryAuthority.sol
  solidity/contracts/system/FeeRebateToken.sol
  solidity/contracts/system/KeepFactorySelection.sol
  solidity/contracts/system/TBTCConstants.sol
  solidity/contracts/system/TBTCDepositToken.sol
  solidity/contracts/system/TBTCDevelopmentConstants.sol
  solidity/contracts/system/TBTCSystem.sol
  solidity/contracts/system/TBTCSystemAuthority.sol
  solidity/contracts/system/TBTCToken.sol
  solidity/contracts/system/VendingMachine.sol
  solidity/contracts/system/VendingMachineAuthority.sol
Due: lint-sol

Update solium and solium-config-keep
  solidity/package-lock.json
  solidity/package.json
Due: none

Add a .git-blame-ignore-revs file
  .git-blame-ignore-revs
Due: none

Reverting recent rewrite
  docs/deposits/index.adoc
Due: none

Bump @openzeppelin/test-environment to 0.1.9
  solidity/package.json
Due: none

Bump ganache-cli to 6.12.2
  solidity/package.json
Due: none

Update package-lock.json for the new ganache-cli and test-environment versions
  solidity/package-lock.json
Due: none

No longer set CI_GITHUB_TOKEN for load-env-variables action
  .github/workflows/contracts.yml
  .github/workflows/relay.yml
Due: none

Refactor workflows to add deployment of contracts migrated on Celo
  .github/workflows/contracts.yml
  solidity/truffle-config.js
Due: lint-js

Unification of env variables names
  .github/workflows/contracts.yml
  solidity/truffle-config.js
Due: lint-js

Move cache instead of copying
  .github/workflows/relay.yml
Due: none

Unify docs.yml with corresponding file in keep-core
  .github/workflows/docs.yaml
Due: none

Replace the CircleCI build status badge with GHA badges
  README.adoc
Due: none

Migrate from `master` to `main` branch
  .circleci/config.yml
  .github/workflows/contracts.yml
  .github/workflows/docs.yaml
  .github/workflows/relay.yml
  README.adoc
  docs/introduction-to-tbtc.md
Due: none

Use relative links in the documentation
  README.adoc
  docs/introduction-to-tbtc.md
Due: none

Move job building&publishing Relay Maintainer Initcontainer to GH Actions
  .circleci/config.yml
  .github/workflows/contracts.yml
Due: none

Remove the testing configuration (`-wip` suffix, disabled `environment`)
  .github/workflows/contracts.yml
Due: none

Move cache fix step to the end of the workflow
  .github/workflows/contracts.yml
Due: none

Fix names of the referenced outputs
  .github/workflows/contracts.yml
Due: none

Decrease amount of the gas sent for Ropsten env
  solidity/truffle-config.js
Due: lint-js

Pass BondedECDSAKeepFactoryAddress to createSortitionPoolCelo
  solidity/migrations/3_initialize.js
Due: lint-js

Path conditions:
  lint-js: any of: \.js$
  lint-sol: any of: \.sol$
