Repository keep-network/tbtc: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

lint-js:
  name: lint js
  entry: /usr/bin/env bash -c "cd solidity && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol:
  name: lint solidity
  entry: /usr/bin/env bash -c "cd solidity && npm run lint:sol"
  language: script
  description: Checks Solidity code according to the package's linter configuration

Rename `-solidity-version` parameter suffix with `-contracts-version`
  .github/workflows/contracts.yml
Due: none

Add a temporary workflow testing invoking of an action
  .github/workflows/test.yml
Due: none

Update custom actions paths after moving actions to `ci`
  .github/workflows/contracts.yml
  .github/workflows/relay.yml
Due: none

Remove configuration used for PR testing
  .github/workflows/contracts.yml
  .github/workflows/relay.yml
Due: none

Switch to using v1 version of tenderly-push-action
  .github/workflows/contracts.yml
Due: none

Use Node.js 14.x instead of 12.x
  .github/workflows/contracts.yml
Due: none

Change value of the CHAIN_API_URL
  .github/workflows/contracts.yml
Due: none

Move electrumx kube configuration to `tbtc` repo
  infrastructure/kube/keep-dev/tbtc-electrumx-server-service.yaml
  infrastructure/kube/keep-dev/tbtc-electrumx-server-statefulset.yaml
  infrastructure/kube/keep-dev/tbtc-maintainers-deployment.yaml
  infrastructure/kube/keep-test/tbtc-electrumx-compact-history-job.yaml
  infrastructure/kube/keep-test/tbtc-electrumx-server-service.yaml
  infrastructure/kube/keep-test/tbtc-electrumx-server-statefulset.yaml
  infrastructure/kube/keep-test/tbtc-maintainers-deployment.yaml
  infrastructure/kube/templates/tbtc-maintainers/initcontainer/provision-tbtc-maintainers/Dockerfile
  infrastructure/kube/templates/tbtc-maintainers/initcontainer/provision-tbtc-maintainers/package-lock.json
  infrastructure/kube/templates/tbtc-maintainers/initcontainer/provision-tbtc-maintainers/package.json
  infrastructure/kube/templates/tbtc-maintainers/initcontainer/provision-tbtc-maintainers/provision-tbtc-maintainers.js
  infrastructure/kube/templates/tbtc-maintainers/initcontainer/provision-tbtc-maintainers/tbtc-maintainers-config-template.toml
Due: lint-js

Change electrumx pods' namespace to default
  infrastructure/kube/keep-dev/tbtc-electrumx-server-service.yaml
  infrastructure/kube/keep-dev/tbtc-electrumx-server-statefulset.yaml
  infrastructure/kube/keep-test/tbtc-electrumx-compact-history-job.yaml
  infrastructure/kube/keep-test/tbtc-electrumx-server-service.yaml
  infrastructure/kube/keep-test/tbtc-electrumx-server-statefulset.yaml
Due: none

Move initcontainer to the Relay workflow
  .github/workflows/contracts.yml
  .github/workflows/relay.yml
Due: none

Temporarily use `-wip` suffix in the image's name
  .github/workflows/relay.yml
Due: none

Remove the `-wip` suffix from initcontainer image name
  .github/workflows/relay.yml
Due: none

Allow for 0.001 BTC lot size for testnet
  solidity/contracts/system/TBTCSystemTestnet.sol
  solidity/migrations/2_deploy_contracts.js
Due: lint-js, lint-sol

Add keep-prd compact history job for ElectumX
  infrastructure/kube/keep-prd/electrumx-compact-history-job.yaml
Due: none

Pin electrumx image version to v1.16.0 for prd compact history job
  infrastructure/kube/keep-prd/electrumx-compact-history-job.yaml
Due: none

Updared production electrumx version to v1.16.0
  infrastructure/kube/keep-prd/electrumx-statefulset.yaml
Due: none

Add keep-test compact history job for ElectrumX
  infrastructure/kube/keep-test/electrumx-compact-history-job.yaml
Due: none

Changed rpc host in electrumx stateful services to 0.0.0.0
  infrastructure/kube/keep-prd/electrumx-statefulset.yaml
Due: none

Replaced symbolic links to contract artifacts with copies
  scripts/install.sh
Due: none

Remove artifact folder before copying
  scripts/install.sh
Due: none

Allow 10^3 and 10^4 lot sizes as well
  solidity/contracts/system/TBTCSystemTestnet.sol
Due: lint-sol

Fix linter error
  solidity/contracts/system/TBTCSystemTestnet.sol
Due: lint-sol

Fix prettier for TBTCSystemTestnet.sol
  solidity/contracts/system/TBTCSystemTestnet.sol
Due: lint-sol

Use fresh `RopstenTestnetRelay`
  solidity/migrations/externals.js
Due: lint-js

Removing unnecessary job output
  .github/workflows/contracts.yml
Due: none

Update name of the image with relay maintainer initcontainer
  .github/workflows/relay.yml
Due: none

Modify conditions for building and publishing of images
  .github/workflows/relay.yml
Due: none

Modify conditions for logging to the GCR
  .github/workflows/relay.yml
Due: none

Updated reference to keep-common
  go.mod
  go.sum
Due: none

Auto-generated go code
  pkg/chain/celo/gen/contract/Deposit.go
  pkg/chain/celo/gen/contract/TBTCSystem.go
  pkg/chain/ethereum/gen/contract/Deposit.go
  pkg/chain/ethereum/gen/contract/TBTCSystem.go
Due: none

Remove gasPrice configuration for development network
  solidity/truffle-config.js
Due: lint-js

Use fresh relay contract
  infrastructure/kube/keep-test/relay-deployment.yaml
  solidity/migrations/externals.js
Due: lint-js

Make linter happy
  solidity/migrations/externals.js
Due: lint-js

Adding cron for daily tests and builds for meercode
  .github/workflows/contracts.yml
  .github/workflows/relay.yml
Due: none

Building image but not publishing to GCP
  .github/workflows/relay.yml
Due: none

Verify contracts on Etherscan
  .github/annotations.json
  .github/workflows/contracts.yml
  solidity/package-lock.json
  solidity/package.json
  solidity/scripts/etherscan-verify.sh
  solidity/truffle-config.js
Due: lint-js

Update dependency to `keep-ecdsa` package
  solidity/package-lock.json
  solidity/package.json
Due: none

Apply mining waiter changes
  go.mod
  go.sum
  pkg/chain/celo/gen/contract/Deposit.go
  pkg/chain/celo/gen/contract/TBTCSystem.go
  pkg/chain/ethereum/gen/abi/deposit/Deposit.go
  pkg/chain/ethereum/gen/abi/system/TBTCSystem.go
  pkg/chain/ethereum/gen/contract/Deposit.go
  pkg/chain/ethereum/gen/contract/TBTCSystem.go
Due: none

Bump up keep-common dependency
  go.mod
  go.sum
  pkg/chain/celo/gen/contract/Deposit.go
  pkg/chain/celo/gen/contract/TBTCSystem.go
  pkg/chain/ethereum/gen/contract/Deposit.go
  pkg/chain/ethereum/gen/contract/TBTCSystem.go
Due: none

Bump up keep-common again
  go.mod
  go.sum
  pkg/chain/celo/gen/contract/Deposit.go
  pkg/chain/celo/gen/contract/TBTCSystem.go
  pkg/chain/ethereum/gen/contract/Deposit.go
  pkg/chain/ethereum/gen/contract/TBTCSystem.go
Due: none

Path conditions:
  lint-js: any of: \.js$
  lint-sol: any of: \.sol$
